/* EventItem */
.event-item {
    padding: 8px;
    background-color: var(--bg-card);
    border-radius: 20px;
    margin-bottom: 12px;
  }
  .event-item-pic {
    width: 100%; /* Or specify a fixed width, e.g., 300px */
    height: auto; /* Or specify a fixed height, e.g., 300px */
    overflow: hidden; /* Ensures that any overflow is hidden */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
  
  }
  .event-item-pic > img{
    max-width: 100%; /* Ensures the image does not exceed the width of its parent */
    height: auto; /* Maintains the aspect ratio */
    object-fit: cover;
    border-radius: 8px;
  }
  .event-item-det-t {
    font-weight: 600;
    margin: 12px 0;
    text-align: left;
    color:   #CBD8E4;
  
  }
  
  .event-item-det {
    font-size: 1.2em;
    text-align: left;
  }
  .locat {
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 12px 0;
    padding: 12px 8px;
  
  }
  .eventcard-title {
    border: solid 1px var(--border);
    border-radius: 8px;
  }
  .eventcard-title > h3 {
    font-size: 1.4em;
    font-weight: 200;
    text-align: left;
    padding-left: 8px;
     
  }


  /* small tablet styles */
@media screen and (min-windth: 620px){

}

/* laptop */
@media screen and (min-windth: 960px){
  
}


/* bigger screens */

@media screen and (min-windth: 1200px){
  
}